@import '../../node_modules/material-design-lite/material.css';
@import '../../node_modules/chartist/dist/chartist.css';
@import '../../node_modules/mapbox-gl/dist/mapbox-gl.css';
@import './modules/material.css';


html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    color: #333;
}

table .material-icons {
    vertical-align: middle;
}

.ct-series-b .ct-line, .ct-series-b .ct-point {
    stroke: orange;
}


.selectgroup-link {
    padding-left: 6px;
    white-space: nowrap;
}

.logo-img {
    width: 100%;
    /*height: 48px;*/
    /*border-radius: 24px;*/
}
.demo-drawer-header a {
    text-decoration: none;
    color: inherit;
    padding-top: 5px;
}


/* prevent top-of-page spasms */
.map-container {
    height: 600px;
}
.qol-chart {
    min-height: 260px;
}

/* fix for mdl menu on linux screwing up page scrolling */
.mdl-menu, .mdl-menu__container, .mdl-menu__outline {
    z-index: 0;
}

/* footer stuff */
footer .material-icons {
    padding-right: 10px;
}
footer .mdl-cell {
    padding: 10px;
}

/* used in footer, TOC metric numbers */
.flexcontainer {
    display: flex;
    flex-direction: row;
    .flex-item {
        flex-grow: 1;
        width: 50%;
        padding: 10px;
    }
}

.whatsnew {
    padding: 15px;
    span {
        cursor: pointer;
    }
    h1 {
        font-size: 1.2em;
        margin: 0 0 15px;
    }
    .mdl_chip {
        height: 24px;
        line-height: 24px;
    }
    .material-icons {
        vertical-align: middle;
        padding-right: 5px;
        font-size: 18px;
        max-width: 20px;
    }
    .mdl-chip__text {
        font-size: 12px;
    }
}


.comment-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .mdl-textfield {
        width: 100%;
    }
    .comment-form {
        width: 100%;
    }
    .comment-complete {
        display: none;
        i {
            font-size: 3em;
            text-shadow: 2px 2px 2px #ccc;
        }
        p {
            font-size: 2em;
        }
    }
}

.site-links a {
    padding-left: 10px;
    white-space: nowrap;
}
