@import '../../node_modules/material-design-lite/material.css';
@import '../../node_modules/chartist/dist/chartist.css';
@import '../../node_modules/mapbox-gl/dist/mapbox-gl.css';
@import './modules/material.css';
@import './modules/contactus.css';
@import './modules/footer.css';
@import './modules/whatsnew.css';
@import './modules/dropdown.css';

html, body {
    color: #555;
    font-family: Roboto, "Helvetica Neue", "Calibri", "Liberation Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
}
h1, h2, h3, h4, h5 {
    color: #333;
}
a {
    text-decoration-skip: ink;
    color: rgb(211, 45, 101);
}

/* sidebar */
.logo-img {
    width: 100%;
}
.demo-drawer-header a {
    text-decoration: none;
    color: inherit;
    padding-top: 5px;
}

/* prevent top-of-page spasms */
.map-container {
    height: 600px;
}

/* fix for mdl menu on linux screwing up page scrolling */
.mdl-menu, .mdl-menu__container, .mdl-menu__outline {
    z-index: 0;
}

/* mdl button colors for not raised stuff */
.mdl-button {
  background: #E8E8E8;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  margin: 0 2px;
}
.mdl-button--accent {
  background: #FF4081;
  color: #fff;
}

/* select group */
.selectgroup-link {
    padding-left: 6px;
    white-space: nowrap;
}

/* for side by side elements */
.flexcontainer {
  display: flex;
  flex-direction: row;
}
.flexcontainer .flex-item {
  flex-grow: 1;
  padding: 10px;
}
.flexcontainer .flex-item:first-child {
  max-width: 35%;
}

.undermap-controls button {
    margin-bottom: 5px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

input, textarea {
  outline: none;
}
