.intro {
  text-align: center;
  padding: 10px;
  & p {
    font-size: 1.2em;
  }
  & h1 {
    text-shadow: 1px 1px 2px #666;
    margin: 0;
    font-size: 2.4em;
  }
  & h3 {
    margin: 10px 0 0;
    font-size: 1.4em;
    line-height: 1.4em;
  }
}
