.mapboxgl-ctrl-mapsearch {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgaGVpZ2h0PSIzMiIgd2lkdGg9IjMyIj48cGF0aCBkPSJNMTUuNSwxMkMxOCwxMiAyMCwxNCAyMCwxNi41QzIwLDE3LjM4IDE5Ljc1LDE4LjIxIDE5LjMxLDE4LjlMMjIuMzksMjJMMjEsMjMuMzlMMTcuODgsMjAuMzJDMTcuMTksMjAuNzUgMTYuMzcsMjEgMTUuNSwyMUMxMywyMSAxMSwxOSAxMSwxNi41QzExLDE0IDEzLDEyIDE1LjUsMTJNMTUuNSwxNEEyLjUsMi41IDAgMCwwIDEzLDE2LjVBMi41LDIuNSAwIDAsMCAxNS41LDE5QTIuNSwyLjUgMCAwLDAgMTgsMTYuNUEyLjUsMi41IDAgMCwwIDE1LjUsMTRNMTQsNi4xMUw4LDRWMTUuODlMOSwxNi4yNFYxNi41QzksMTcuMTQgOS4wOSwxNy43NiA5LjI2LDE4LjM0TDgsMTcuOUwyLjY2LDE5Ljk3TDIuNSwyMEEwLjUsMC41IDAgMCwxIDIsMTkuNVY0LjM4QzIsNC4xNSAyLjE1LDMuOTcgMi4zNiwzLjlMOCwyTDE0LDQuMUwxOS4zNCwySDE5LjVBMC41LDAuNSAwIDAsMSAyMCwyLjVWMTEuODFDMTguODMsMTAuNjkgMTcuMjUsMTAgMTUuNSwxMEMxNSwxMCAxNC41LDEwLjA2IDE0LDEwLjE3VjYuMTFaIj48L3BhdGg+DTwvc3ZnPgo=);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: 4px 3px;
}

.mapbox-ctrl-active {
  background-color: #ccc;
}