/* remove sidebars */
.print aside {
  display: none;
}

.print .grid-container {
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 7.9in;
  margin: 20px auto;
}

.print .grid-item {
  page-break-after: always;
  margin: 20px 0;
}

.print .grid-item:first-child {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

@media only print {
  .no-print,
  .mapboxgl-ctrl-top-left,
  .mapboxgl-user-location-dot,
  .v-data-footer,
  .v-card__actions,
  .v-app-bar {
    display: none !important;
  }

  .print .grid-container {
    margin: 0;
  }

  .grid-item {
    box-shadow: none;
  }
}
