:root {
  --primary: #1976d2;
  --secondary: #FF9800;
  --accent: #E91E63;
  --fontfamily: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
}